@{
    ViewData["Title"] = "Home Page";
}

<section>
    <h1> Store Front </h1>

    <br/>
    <br/>
    <br/>
    <br/>

    
    @* @using (Html.BeginForm("PostUserData", "Store", FormMethod.Post)) *@
    @* { *@
        <label for="inpName">Name:&nbsp;</label><input id="inpName" name="name" type="text"/>
        <br/>
        <br/>
        <label for="inpAge">Age:&nbsp;</label><input id="inpAge" name="age" type="number"/>
        <br/>
        <br/>
        <input type="submit" value="Send" onclick="postUserData()"/>    
    @* } *@

    <br/>
    <br/>
    <label for="inpName">• Name:&nbsp;</label>@ViewData["name"]
    <br/>
    <label for="inpAge">• Age:&nbsp;</label>@ViewData["age"]
    <br/>


</section>

<script>
    function postUserData() {
        let name = $('inpName').value;
        let age = $('inpAge').value;

        $.ajax({
            type: "POST",
            url: @Url.Action("PostUserData", "Store"),
            data: {name, age},
            dataType: "json",
            success: function(res) {
                console.log({message: "Success", data: res})
            },
            error: function(err) {
                console.error({message: "Error", data: err})
            }
        });
    }
</script>